.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#intro-example {
  width: 100%;
  height: 100vh;
}

.walleticon {
  width: 128px;
  height: 128px;
  padding-bottom: 10px;
}

.connectBtn {
 padding-top: 15px; 
}

.modalheader {
  background-color: #1266f1;
  color: #fff;
}